<div class="container player-name" align="center">
	<%= @user.active_player.real_name %>'s Dashboard
</div>
<div class="container" align="center">
	<div class="row">
		<div class="col-md-6">
			<div class="section-box section-box-hover" onclick="window.location='<%=results_by_date_path%>';">
				<div class="section-title">
					My Results & Rankings
				</div>				
			</div>
		</div>
		<div class="col-md-6">
			<div class="section-box section-box-hover" onclick="window.location='<%=profile_path%>';">
				<div class="section-title">
					My Player Profile
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="section-box">
				<div class="section-title">
					Search a Player
				</div>
				<%= form_tag(:action => "search_opponent", :controller => "users") do %>
					<div><%= label_tag :first_name %></div>
					<div><%= text_field_tag :first_name %></div>
					<div><%= label_tag :last_name %></div>
					<div><%= text_field_tag :last_name %></div>
						<%= submit_tag "Search" %>
				<% end %>
			</div>
		</div>
		<div class="col-md-6">
			<div class="section-box section-box-hover" onclick="window.location='<%=my_friends_path%>';">
				<div class="section-title">
					My Friends & Requests
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="section-box section-box-hover" onclick="window.location='<%=my_tournaments_path%>';">
				<div class="section-title">
					Add a Tournament
				</div>
			</div>
		</div>
	</div>
</div>