<div class="container" align="center">
	<div class="friends-title">
		<%=@user.active_player.real_name %>'s Friends
	</div>
	<div class="friends-box">
		<% @your_friends.each do |friend| %>
			<div class="submit">
				<a href="<%=opponent_result_path(friend)%>"><%= friend.real_name %></a>
			</div>
		<% end %>
	</div>
	<div class="friends-title">
		Pending requests for you
	</div>
	<div class="friends-box">
		<% @people_friended_you.each do |invite| %>
			<div>
				<%= form_for Friendship.new do |f| %>
					<%= hidden_field_tag :friend_id, invite.id %>
					<%= f.submit "Accept friend request from #{invite.real_name}!" %>
				<% end %>
			</div>
		<% end %>
	</div>
	<div class="friends-title">
		Pending requests from you
	</div>
	<div class="friends-box">
		<% @people_you_friended.each do |frequest| %>
			<div class="submit">
				<a href="<%=opponent_result_path(frequest)%>"><%= frequest.real_name %></a>
			</div>
		<% end %>
	</div>
</div>

