<div class="container" align="center">
	<div class="friends-title">
		<%=@user.first_name + " " + @user.last_name %>'s Friends
	</div>
	<div class="friends-box">
		<% @your_friends.each do |friend| %>
			<div>
				<%= form_tag(:action => "search_opponent", :controller => "users") do %>
					<%= hidden_field_tag :first_name, request.first_name  %>
					<%= hidden_field_tag :last_name, request.last_name  %>
					<%= submit_tag "#{friend.first_name + " " + friend.last_name}" %>
				<% end %>
			</div>
		<% end %>
	</div>
	<div class="friends-title">
		Pending requests for you
	</div>
	<div class="friends-box">
		<% @people_friended_you.each do |invite| %>
			<div>
				<%= form_for Friendship.new do |f| %>
					<%= hidden_field_tag :friend_id, invite.id %>
					<%= f.submit "Accept friend request from #{invite.first_name + " " + invite.last_name}!" %>
				<% end %>
			</div>
		<% end %>
	</div>
	<div class="friends-title">
		Pending requests from you
	</div>
	<div class="friends-box">
		<% @people_you_friended.each do |request| %>
			<div>
				<%= form_tag(:action => "search_opponent", :controller => "users") do %>
					<%= hidden_field_tag :first_name, request.first_name  %>
					<%= hidden_field_tag :last_name, request.last_name  %>
					<%= submit_tag "#{request.first_name + " " + request.last_name}" %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>

