<% if @opponent %>
	<div class="container" align="center">
		<div class="dash-title">
			<%= @opponent.real_name %> 
		</div>
		<div class="profile-info">
			<div class="row info-row">
				<div class="col-md-4">
					<div class="profile-img">
						<% if @opponent.image.url %>
							<img src="<%=@opponent.image%>">
						<% else %>
							<img src="/assets/blank_profile.png">
						<% end %>
					</div>
				</div>
				<div class="col-md-5" align="left">
					<div class="opponent-detail-box">
						<div class="opponent-details">
							Location: <span class="emp"><%= @opponent.location %></span>
						</div>
						<div class="opponent-details">
							Overall Record: <span class="emp"><%= @opponent.overall_record %></span>
						</div>
						<div class="opponent-details">
							Date Range: <span class="emp"><%= @opponent.date_range %></span>
						</div>
						<div class="opponent-details">
							<% if @opponent.birthday %>Age: <span class="emp"><%= @opponent.age %></span><% end %>
						</div>
						<div class="opponent-details">
							<span class="emp"><a href="<%=opponent_profile_path(@opponent)%>">View Full Profile</a></span>
						</div>
					</div>
				</div>
				<div class="col-md-3">
						<% if @opponent.is_registered %>
							<% if @player.is_a_friend(@opponent) %>
								<div class="friend-status">
									You are friends!
								</div>
							<% elsif @player.friendships.where(friend_id: @opponent.id).first && ! @player.inverse_friendships.where(friend_id: @player.id, player_id: @opponent.id).first %>
								<div class="friend-status">
									Friend request pending...
								</div>
							<% elsif ! @player.friendships.where(friend_id: @opponent.id).first && @player.inverse_friendships.where(friend_id: @player.id, player_id: @opponent.id).first %>
								<%= form_for Friendship.new do |f| %>
									<%= hidden_field_tag :friend_id, @opponent.id %>
									<%= f.submit "Accept friend request!" %>
								<% end %>
							<% elsif ! @player.friendships.where(friend_id: @opponent.id).first && ! @player.inverse_friendships.where(friend_id: @player.id, player_id: @opponent.id).first %>
								<%= form_for Friendship.new do |f| %>
									<%= hidden_field_tag :friend_id, @opponent.id %>
									<%= f.submit "Request to be friends!" %>
								<% end %>
							<% end %>
						<% else %>
							<div data-toggle="modal" data-target="#friendInviteModal" class="submit-button">Invite <%= @opponent.real_name.split(' ').first %> to TennisBook</div>
						<% end %>
				</div>
			</div>
		</div>
		

		<% if @own_matches_against_me != [] || @other_matches_against_me != [] || @friend_own_matches != [] || @friend_other_matches != [] || @opponent_matches_other != [] || @opponent_matches_own != [] %>
		

			<div class="profile-info">
				<div class="sub-dash-title">
					<%= @opponent.real_name %> vs. You	
				</div>
				<% @own_matches_against_me.each do |match| %>
					<% if match.score %>
						<div class="match-box">
							<div class="row score-box">
								<a href="<%=match.link%>" target="_blank"><%= match.name %></a>
							</div>
							<div class="row score-box">
								<%= match.date %>
							</div>
							<table class="scoring-table">
								<tr>
									<td>
										<%=@player.real_name%>
										<% if match.result == "Loss" %>
											<span><img src="/assets/check.png" class="win-check"></span>
										<% end %>
									</td>
									<% if match.score.include? ';' %>
										<% match.score.split(';').first(3).each do |score| %>
											<td>
												<% if match.result == "Loss" %>
													<%= score.split('-').first %>
												<% else %>
													<%= score.split('-').last %>
												<% end %>	
											</td>
										<% end %>
									<% else %>
										<td>
											<% if match.result == "Loss" %>
												<% if @specials.any? { |s| match.score.include?(s) } %>
													-
												<% else %>
													<%= match.score.split('-').first %>
												<% end %>
											<% else %>
												<%= match.score.split('-').last %>
											<% end %>
										</td>
									<% end %>
								</tr>
								<tr>
									<td>
										<%= @opponent.real_name %>
										<% if match.result == "Win" %>
											<span><img src="/assets/check.png" class="win-check"></span>
										<% end %>
									</td>
									<% if match.score.include? ';' %>
										<% match.score.split(';').first(3).each do |score| %>
											<td>
												<% if match.result == "Win" %>
													<%= score.split('-').first %>
												<% else %>
													<%= score.split('-').last %>
												<% end %>
											</td>
										<% end %>
									<% else %>
										<td>
											<% if match.result == "Win" %>
												<% if @specials.any? { |s| match.score.include?(s) } %>
													- 
												<% else %>
													<%= match.score.split('-').first %>
												<% end %>
											<% else %>
												<%= match.score.split('-').last %>
											<% end %>
										</td>
									<% end %>
								</tr>
							</table>
						</div>
					<% end %>
				<% end %>




				<% @other_matches_against_me.each do |match| %>
					<% if match.score %>
							<div class="match-box">
								<div class="row score-box">
									<a href="<%=match.link%>" target="_blank"><%= match.name %></a>
								</div>
								<div class="row score-box">
									<%= match.date %>
								</div>
								<table class="scoring-table">
									<tr>
										<td>
											<%=@player.real_name%>
											<% if match.result == "Win" %>
												<span><img src="/assets/check.png" class="win-check"></span>
											<% end %>
										</td>
										<% if match.score.include? ';' %>
											<% match.score.split(';').first(3).each do |score| %>
												<td>
													<% if match.result == "Win" %>
														<%= score.split('-').first %>
													<% else %>
														<%= score.split('-').last %>
													<% end %>	
												</td>
											<% end %>
										<% else %>
											<td>
												<% if match.result == "Win" %>
													<% if @specials.any? { |s| match.score.include?(s) } %>
														-
													<% else %>
														<%= match.score.split('-').first %>
													<% end %>
												<% else %>
													<%= match.score.split('-').last %>
												<% end %>
											</td>
										<% end %>
									</tr>
									<tr>
										<td>
											<%= @opponent.real_name %>
											<% if match.result == "Loss" %>
												<span><img src="/assets/check.png" class="win-check"></span>
											<% end %>
										</td>
										<% if match.score.include? ';' %>
											<% match.score.split(';').first(3).each do |score| %>
												<td>
													<% if match.result == "Loss" %>
														<%= score.split('-').first %>
													<% else %>
														<%= score.split('-').last %>
													<% end %>
												</td>
											<% end %>
										<% else %>
											<td>
												<% if match.result == "Loss" %>
													<% if @specials.any? { |s| match.score.include?(s) } %>
														-
													<% else %>													
														<%= match.score.split('-').first %>
													<% end %>
												<% else %>
													<%= match.score.split('-').last %>
												<% end %>
											</td>
										<% end %>
									</tr>
								</table>
							</div>
					<% end %>
				<% end %>


				<div class="sub-dash-title">
					<%= @opponent.real_name %> vs. Your Friends	
				</div>
				<% @friend_own_matches.each do |match| %>
					<% if match.score %>
						<div class="match-box">
								<div class="row score-box">
									<a href="<%=match.link%>" target="_blank"><%= match.name %></a>
								</div>
								<div class="row score-box">
									<%= match.date %>
								</div>
								<table class="scoring-table">
									<tr>
										<td>
											<%=@opponent.real_name%>
											<% if match.result == "Loss" %>
												<span><img src="/assets/check.png" class="win-check"></span>
											<% end %>
										</td>
										<% if match.score.include? ';' %>
											<% match.score.split(';').first(3).each do |score| %>
												<td>
													<% if match.result == "Win" %>
														<%= score.split('-').last %>
													<% else %>
														<%= score.split('-').first %>
													<% end %>	
												</td>
											<% end %>
										<% else %>
											<td>
												<% if match.result == "Win" %>
													<%= match.score.split('-').last %>
												<% else %>
													<% if @specials.any? { |s| match.score.include?(s) } %>
														-
													<% else %>
														<%= match.score.split('-').first %>
													<% end %>
												<% end %>
											</td>
										<% end %>
									</tr>
									<tr>
										<td>
											<%= match.player.real_name %>
											<% if match.result == "Win" %>
												<span><img src="/assets/check.png" class="win-check"></span>
											<% end %>
										</td>
										<% if match.score.include? ';' %>
											<% match.score.split(';').first(3).each do |score| %>
												<td>
													<% if match.result == "Win" %>
														<%= score.split('-').first %>
													<% else %>
														<%= score.split('-').last %>
													<% end %>
												</td>
											<% end %>
										<% else %>
											<td>
												<% if match.result == "Win" %>
													<% if @specials.any? { |s| match.score.include?(s) } %>
														-
													<% else %>
														<%= match.score.split('-').first %>
													<% end %>
												<% else %>
													<%= match.score.split('-').last %>
												<% end %>
											</td>
										<% end %>
									</tr>
								</table>
							</div>
					<% end %>
				<% end %>


				<% @friend_other_matches.each do |match| %>
					<% if match.score %>
						<div class="match-box">
								<div class="row score-box">
									<a href="<%=match.link%>" target="_blank"><%= match.name %></a>
								</div>
								<div class="row score-box">
									<%= match.date %>
								</div>
								<table class="scoring-table">
									<tr>
										<td>
											<%=@opponent.real_name%>
											<% if match.result == "Win" %>
												<span><img src="/assets/check.png" class="win-check"></span>
											<% end %>
										</td>
										<% if match.score.include? ';' %>
											<% match.score.split(';').first(3).each do |score| %>
												<td>
													<% if match.result == "Win" %>
														<%= score.split('-').first %>
													<% else %>
														<%= score.split('-').last %>
													<% end %>	
												</td>
											<% end %>
										<% else %>
											<td>
												<% if match.result == "Win" %>
													<% if @specials.any? { |s| match.score.include?(s) } %>
														-
													<% else %>
														<%= match.score.split('-').first %>
													<% end %>
												<% else %>
													<%= match.score.split('-').last %>
												<% end %>
											</td>
										<% end %>
									</tr>
									<tr>
										<td>
											<%= match.opponent.real_name %>
											<% if match.result == "Loss" %>
												<span><img src="/assets/check.png" class="win-check"></span>
											<% end %>
										</td>
										<% if match.score.include? ';' %>
											<% match.score.split(';').first(3).each do |score| %>
												<td>
													<% if match.result == "Loss" %>
														<%= score.split('-').first %>
													<% else %>
														<%= score.split('-').last %>
													<% end %>
												</td>
											<% end %>
										<% else %>
											<td>
												<% if match.result == "Loss" %>
													<% if @specials.any? { |s| match.score.include?(s) } %>
														-
													<% else %>
														<%= match.score.split('-').first %>
													<% end %>
												<% else %>
													<%= match.score.split('-').last %>
												<% end %>
											</td>
										<% end %>
									</tr>
								</table>
							</div>
					<% end %>
				<% end %>

				<div class="sub-dash-title">
					<%= @opponent.real_name %> vs. People you've played
				</div>
				<% @opponent_matches_other.each do |match| %>
					<% if match.score %>
						<div class="match-box">
								<div class="row score-box">
									<a href="<%=match.link%>" target="_blank"><%= match.name %></a>
								</div>
								<div class="row score-box">
									<%= match.date %>
								</div>
								<table class="scoring-table">
									<tr>
										<td>
											<%=@opponent.real_name%>
											<% if match.result == "Win" %>
												<span><img src="/assets/check.png" class="win-check"></span>
											<% end %>
										</td>
										<% if match.score.include? ';' %>
											<% match.score.split(';').first(3).each do |score| %>
												<td>
													<% if match.result == "Win" %>
														<%= score.split('-').first %>
													<% else %>
														<%= score.split('-').last %>
													<% end %>	
												</td>
											<% end %>
										<% else %>
											<td>
												<% if match.result == "Win" %>
													<% if @specials.any? { |s| match.score.include?(s) } %>
														-
													<% else %>
														<%= match.score.split('-').first %>
													<% end %>
												<% else %>
													<%= match.score.split('-').last %>
												<% end %>
											</td>
										<% end %>
									</tr>
									<tr>
										<td>
											<%= match.opponent.real_name %>
											<% if match.result == "Loss" %>
												<span><img src="/assets/check.png" class="win-check"></span>
											<% end %>
										</td>
										<% if match.score.include? ';' %>
											<% match.score.split(';').first(3).each do |score| %>
												<td>
													<% if match.result == "Loss" %>
														<%= score.split('-').first %>
													<% else %>
														<%= score.split('-').last %>
													<% end %>
												</td>
											<% end %>
										<% else %>
											<td>
												<% if match.result == "Loss" %>
													<% if @specials.any? { |s| match.score.include?(s) } %>
														-
													<% else %>
														<%= match.score.split('-').first %>
													<% end %>
												<% else %>
													<%= match.score.split('-').last %>
												<% end %>
											</td>
										<% end %>
									</tr>
								</table>
							</div>
					<% end %>
				<% end %>


				<% @opponent_matches_own.each do |match| %>
					<% if match.score %>
						<div class="match-box">
								<div class="row score-box">
									<a href="<%=match.link%>" target="_blank"><%= match.name %></a>
								</div>
								<div class="row score-box">
									<%= match.date %>
								</div>
								<table class="scoring-table">
									<tr>
										<td>
											<%=@opponent.real_name%>
											<% if match.result == "Loss" %>
												<span><img src="/assets/check.png" class="win-check"></span>
											<% end %>
										</td>
										<% if match.score.include? ';' %>
											<% match.score.split(';').first(3).each do |score| %>
												<td>
													<% if match.result == "Loss" %>
														<%= score.split('-').first %>
													<% else %>
														<%= score.split('-').last %>
													<% end %>	
												</td>
											<% end %>
										<% else %>
											<td>
												<% if match.result == "Loss" %>
													<% if @specials.any? { |s| match.score.include?(s) } %>
														-
													<% else %>
														<%= match.score.split('-').first %>
													<% end %>
												<% else %>
													<%= match.score.split('-').last %>
												<% end %>
											</td>
										<% end %>
									</tr>
									<tr>
										<td>
											<%= match.player.real_name %>
											<% if match.result == "Win" %>
												<span><img src="/assets/check.png" class="win-check"></span>
											<% end %>
										</td>
										<% if match.score.include? ';' %>
											<% match.score.split(';').first(3).each do |score| %>
												<td>
													<% if match.result == "Win" %>
														<%= score.split('-').first %>
													<% else %>
														<%= score.split('-').last %>
													<% end %>
												</td>
											<% end %>
										<% else %>
											<td>
												<% if match.result == "Win" %>
													<% if @specials.any? { |s| match.score.include?(s) } %>
														-
													<% else %>
														<%= match.score.split('-').first %>
													<% end %>
												<% else %>
													<%= match.score.split('-').last %>
												<% end %>
											</td>
										<% end %>
									</tr>
								</table>
							</div>
					<% end %>
				<% end %>
			</div>

		

		<% else %>



			<div class="profile-info">
				<div class="sub-dash-title">
					<%= @opponent.real_name %>'s Player Record
				</div>
				<% @opponent.own_matches.each do |match| %>
					<% if match.score %>
						<div class="match-box">
								<div class="row score-box">
									<a href="<%=match.link%>" target="_blank"><%= match.name %></a>
								</div>
								<div class="row score-box">
									<%= match.date %>
								</div>
								<table class="scoring-table">
									<tr>
										<td>
											<%=@opponent.real_name%>
											<% if match.result == "Win" %>
												<span><img src="/assets/check.png" class="win-check"></span>
											<% end %>
										</td>
										<% if match.score.include? ';' %>
											<% match.score.split(';').first(3).each do |score| %>
												<td>
													<% if match.result == "Win" %>
														<%= score.split('-').first %>
													<% else %>
														<%= score.split('-').last %>
													<% end %>	
												</td>
											<% end %>
										<% else %>
											<td>
												<% if match.result == "Win" %>
													<% if @specials.any? { |s| match.score.include?(s) } %>
														-
													<% else %>
														<%= match.score.split('-').first %>
													<% end %>
												<% else %>
													<%= match.score.split('-').last %>
												<% end %>
											</td>
										<% end %>
									</tr>
									<tr>
										<td>
											<%= match.opponent.real_name %>
											<% if match.result == "Loss" %>
												<span><img src="/assets/check.png" class="win-check"></span>
											<% end %>
										</td>
										<% if match.score.include? ';' %>
											<% match.score.split(';').first(3).each do |score| %>
												<td>
													<% if match.result == "Loss" %>
														<%= score.split('-').first %>
													<% else %>
														<%= score.split('-').last %>
													<% end %>
												</td>
											<% end %>
										<% else %>
											<td>
												<% if match.result == "Loss" %>
													<% if @specials.any? { |s| match.score.include?(s) } %>
														-
													<% else %>
														<%= match.score.split('-').first %>
													<% end %>
												<% else %>
													<%= match.score.split('-').last %>
												<% end %>
											</td>
										<% end %>
									</tr>
								</table>
							</div>
					<% end %>
				<% end %>
				<% @opponent.other_matches.each do |match| %>
					<% if match.score %>
						<div class="match-box">
								<div class="row score-box">
									<a href="<%=match.link%>" target="_blank"><%= match.name %></a>
								</div>
								<div class="row score-box">
									<%= match.date %>
								</div>
								<table class="scoring-table">
									<tr>
										<td>
											<%=@opponent.real_name%>
											<% if match.result == "Loss" %>
												<span><img src="/assets/check.png" class="win-check"></span>
											<% end %>
										</td>
										<% if match.score.include? ';' %>
											<% match.score.split(';').first(3).each do |score| %>
												<td>
													<% if match.result == "Loss" %>
														<%= score.split('-').first %>
													<% else %>
														<%= score.split('-').last %>
													<% end %>	
												</td>
											<% end %>
										<% else %>
											<td>
												<% if match.result == "Loss" %>
													<% if @specials.any? { |s| match.score.include?(s) } %>
														-
													<% else %>
														<%= match.score.split('-').first %>
													<% end %>
												<% else %>
													<%= match.score.split('-').last %>
												<% end %>
											</td>
										<% end %>
									</tr>
									<tr>
										<td>
											<%= match.player.real_name %>
											<% if match.result == "Win" %>
												<span><img src="/assets/check.png" class="win-check"></span>
											<% end %>
										</td>
										<% if match.score.include? ';' %>
											<% match.score.split(';').first(3).each do |score| %>
												<td>
													<% if match.result == "Win" %>
														<%= score.split('-').first %>
													<% else %>
														<%= score.split('-').last %>
													<% end %>
												</td>
											<% end %>
										<% else %>
											<td>
												<% if match.result == "Win" %>
													<% if @specials.any? { |s| match.score.include?(s) } %>
														-
													<% else %>
														<%= match.score.split('-').first %>
													<% end %>
												<% else %>
													<%= match.score.split('-').last %>
												<% end %>
											</td>
										<% end %>
									</tr>
								</table>
							</div>
					<% end %>
				<% end %>
			</div>
		<% end %>
	</div>
<% else %>
	<div class="container" align="center">
		<div class="dash-title">
			No results found
		</div>
	</div>
<% end %>
<%= render 'users/invite_friend_modal' %>