<% if @opponent %>
	<div class="container" align="center">
		<div class="dash-title">
			<%= @opponent.name.split(", ").last.capitalize + " " + @opponent.name.split(", ").first.capitalize %> 
		</div>
		<div class="profile-info">
			<div class="row info-row">
				<div class="col-md-4">
					<div class="profile-img">
						<% if @opponent.image %>
							<img src="<%=@opponent.image%>">
						<% else %>
							<img src="/assets/blank_profile.png">
						<% end %>
					</div>
				</div>
				<div class="col-md-5" align="left">
					<div class="opponent-detail-box">
						<div class="opponent-details">
							Location: <span class="emp"><%= @opponent.location %></span>
						</div>
						<div class="opponent-details">
							Overall Record: <span class="emp"><%= @opponent.overall_record %></span>
						</div>
						<div class="opponent-details">
							Date Range: <span class="emp"><%= @opponent.date_range %></span>
						</div>
					</div>
				</div>
				<div class="col-md-3">
						<% if @opponent.is_registered %>
							<% if @user.is_a_friend(@opponent.user) %>
								<div class="friend-status">
									You are friends!
								</div>
							<% elsif @user.friendships.where(friend_id: @opponent.user.id).first && ! @user.inverse_friendships.where(friend_id: @user.id, user_id: @opponent.user.id).first %>
								<div class="friend-status">
									Friend request pending...
								</div>
							<% elsif ! @user.friendships.where(friend_id: @opponent.user.id).first && @user.inverse_friendships.where(friend_id: @user.id, user_id: @opponent.user.id).first %>
								<%= form_for Friendship.new do |f| %>
									<%= hidden_field_tag :friend_id, @opponent.user.id %>
									<%= f.submit "Accept friend request!" %>
								<% end %>
							<% elsif ! @user.friendships.where(friend_id: @opponent.user.id).first && ! @user.inverse_friendships.where(friend_id: @user.id, user_id: @opponent.user.id).first %>
								<%= form_for Friendship.new do |f| %>
									<%= hidden_field_tag :friend_id, @opponent.user.id %>
									<%= f.submit "Request to be friends!" %>
								<% end %>
							<% end %>
						<% end %>
				</div>
			</div>
		</div>
		<div class="profile-info">
			<div class="sub-dash-title">
				<%= @opponent.name.split(", ").last.capitalize + " " + @opponent.name.split(", ").first.capitalize %> vs. You	
			</div>
			<% @own_matches_against_me.each do |match| %>
				<% if match.score %>
					<div class="match-box">
						<div class="row score-box">
							<%= match.name %>
						</div>
						<div class="row score-box">
							<%= match.date %>
						</div>
						<div class="row score-box">
							<div class="col-md-5 col-md-offset-1">
								<%=@user.first_name + " " + @user.last_name %>
								<% if match.result == "Loss" %>
									<span><img src="/assets/check.png" class="win-check"></span>
								<% end %>
							</div>
							<% if match.score.include? ';' %>
								<% match.score.split(';').first(3).each do |score| %>
									<div class="col-md-2">
										<%= score.split('-').last %>
									</div>
								<% end %>
							<% else %>
								<div class="col-md-2">
									<%= match.score.split('-').last %>
								</div>
							<% end %>
						</div>
						<div class="row score-box">
							<div class="col-md-5 col-md-offset-1">
								<%= @opponent.name.split(", ").last.capitalize + " " + @opponent.name.split(", ").first.capitalize %>
								<% if match.result == "Win" %>
									<span><img src="/assets/check.png" class="win-check"></span>
								<% end %>
							</div>
							<% if match.score.include? ';' %>
								<% match.score.split(';').first(3).each do |score| %>
									<div class="col-md-2">
										<%= score.split('-').first %>
									</div>
								<% end %>
							<% else %>
								<div class="col-md-2">
									<%= match.score.split('-').first %>
								</div>
							<% end %>
						</div>
					</div>
				<% end %>
			<% end %>
			<% @other_matches_against_me.each do |match| %>
				<% if match.score %>
					<div class="match-box">
						<div class="row score-box">
							<%= match.name %>
						</div>
						<div class="row score-box">
							<%= match.date %>
						</div>
						<div class="row score-box">
							<div class="col-md-5 col-md-offset-1">
								<%=@user.first_name + " " + @user.last_name %>
								<% if match.result == "Win" %>
									<span><img src="/assets/check.png" class="win-check"></span>
								<% end %>
							</div>
							<% if match.score.include? ';' %>
								<% match.score.split(';').first(3).each do |score| %>
									<div class="col-md-2">
										<%= score.split('-').last %>
									</div>
								<% end %>
							<% else %>
								<div class="col-md-2">
									<%= match.score.split('-').last %>
								</div>
							<% end %>
						</div>
						<div class="row score-box">
							<div class="col-md-5 col-md-offset-1">
								<%= @opponent.name.split(", ").last.capitalize + " " + @opponent.name.split(", ").first.capitalize %>
								<% if match.result == "Loss" %>
									<span><img src="/assets/check.png" class="win-check"></span>
								<% end %>
							</div>
							<% if match.score.include? ';' %>
								<% match.score.split(';').first(3).each do |score| %>
									<div class="col-md-2">
										<%= score.split('-').first %>
									</div>
								<% end %>
							<% else %>
								<div class="col-md-2">
									<%= match.score.split('-').first %>
								</div>
							<% end %>
						</div>
					</div>
				<% end %>
			<% end %>


			<div class="sub-dash-title">
				<%= @opponent.name.split(", ").last.capitalize + " " + @opponent.name.split(", ").first.capitalize %> vs. Your Friends	
			</div>
			<% @friend_own_matches.each do |match| %>
				<% if match.score %>
					<div class="match-box">
						<div class="row score-box">
							<%= match.name %>
						</div>
						<div class="row score-box">
							<%= match.date %>
						</div>
						<div class="row score-box">
							<div class="col-md-5 col-md-offset-1">
								<%=@opponent.name.split(", ").last.capitalize + " " + @opponent.name.split(", ").first.capitalize %>
								<% if match.result == "Loss" %>
									<span><img src="/assets/check.png" class="win-check"></span>
								<% end %>
							</div>
							<% if match.score.include? ';' %>
								<% match.score.split(';').first(3).each do |score| %>
									<div class="col-md-2">
										<%= score.split('-').last %>
									</div>
								<% end %>
							<% else %>
								<div class="col-md-2">
									<%= match.score.split('-').last %>
								</div>
							<% end %>
						</div>
						<div class="row score-box">
							<div class="col-md-5 col-md-offset-1">
								<%= match.player.name.split(", ").last.capitalize + " " + match.player.name.split(", ").first.capitalize %>
								<% if match.result == "Win" %>
									<span><img src="/assets/check.png" class="win-check"></span>
								<% end %>
							</div>
							<% if match.score.include? ';' %>
								<% match.score.split(';').first(3).each do |score| %>
									<div class="col-md-2">
										<%= score.split('-').first %>
									</div>
								<% end %>
							<% else %>
								<div class="col-md-2">
									<%= match.score.split('-').first %>
								</div>
							<% end %>
						</div>
					</div>
				<% end %>
			<% end %>


			<% @friend_other_matches.each do |match| %>
				<% if match.score %>
					<div class="match-box">
						<div class="row score-box">
							<%= match.name %>
						</div>
						<div class="row score-box">
							<%= match.date %>
						</div>
						<div class="row score-box">
							<div class="col-md-5 col-md-offset-1">
								<%=@opponent.name.split(", ").last.capitalize + " " + @opponent.name.split(", ").first.capitalize %>
								<% if match.result == "Win" %>
									<span><img src="/assets/check.png" class="win-check"></span>
								<% end %>
							</div>
							<% if match.score.include? ';' %>
								<% match.score.split(';').first(3).each do |score| %>
									<div class="col-md-2">
										<%= score.split('-').first %>
									</div>
								<% end %>
							<% else %>
								<div class="col-md-2">
									<%= match.score.split('-').first %>
								</div>
							<% end %>
						</div>
						<div class="row score-box">
							<div class="col-md-5 col-md-offset-1">
								<%= match.opponent.name.split(", ").last.capitalize + " " + match.opponent.name.split(", ").first.capitalize %>
								<% if match.result == "Loss" %>
									<span><img src="/assets/check.png" class="win-check"></span>
								<% end %>
							</div>
							<% if match.score.include? ';' %>
								<% match.score.split(';').first(3).each do |score| %>
									<div class="col-md-2">
										<%= score.split('-').last %>
									</div>
								<% end %>
							<% else %>
								<div class="col-md-2">
									<%= match.score.split('-').last %>
								</div>
							<% end %>
						</div>
					</div>
				<% end %>
			<% end %>

			<div class="sub-dash-title">
				<%= @opponent.name.split(", ").last.capitalize + " " + @opponent.name.split(", ").first.capitalize %> vs. People you've played
			</div>
			<% @opponent_matches_other.each do |match| %>
				<% if match.score %>
					<div class="match-box">
						<div class="row score-box">
							<%= match.name %>
						</div>
						<div class="row score-box">
							<%= match.date %>
						</div>
						<div class="row score-box">
							<div class="col-md-5 col-md-offset-1">
								<%=@opponent.name.split(", ").last.capitalize + " " + @opponent.name.split(", ").first.capitalize %>
								<% if match.result == "Win" %>
									<span><img src="/assets/check.png" class="win-check"></span>
								<% end %>
							</div>
							<% if match.score.include? ';' %>
								<% match.score.split(';').first(3).each do |score| %>
									<div class="col-md-2">
										<%= score.split('-').first %>
									</div>
								<% end %>
							<% else %>
								<div class="col-md-2">
									<%= match.score.split('-').first %>
								</div>
							<% end %>
						</div>
						<div class="row score-box">
							<div class="col-md-5 col-md-offset-1">
								<%= match.opponent.name.split(", ").last.capitalize + " " + match.opponent.name.split(", ").first.capitalize %>
								<% if match.result == "Loss" %>
									<span><img src="/assets/check.png" class="win-check"></span>
								<% end %>
							</div>
							<% if match.score.include? ';' %>
								<% match.score.split(';').first(3).each do |score| %>
									<div class="col-md-2">
										<%= score.split('-').last %>
									</div>
								<% end %>
							<% else %>
								<div class="col-md-2">
									<%= match.score.split('-').last %>
								</div>
							<% end %>
						</div>
					</div>
				<% end %>
			<% end %>


			<% @opponent_matches_own.each do |match| %>
				<% if match.score %>
					<div class="match-box">
						<div class="row score-box">
							<%= match.name %>
						</div>
						<div class="row score-box">
							<%= match.date %>
						</div>
						<div class="row score-box">
							<div class="col-md-5 col-md-offset-1">
								<%=@opponent.name.split(", ").last.capitalize + " " + @opponent.name.split(", ").first.capitalize %>
								<% if match.result == "Loss" %>
									<span><img src="/assets/check.png" class="win-check"></span>
								<% end %>
							</div>
							<% if match.score.include? ';' %>
								<% match.score.split(';').first(3).each do |score| %>
									<div class="col-md-2">
										<%= score.split('-').last %>
									</div>
								<% end %>
							<% else %>
								<div class="col-md-2">
									<%= match.score.split('-').last %>
								</div>
							<% end %>
						</div>
						<div class="row score-box">
							<div class="col-md-5 col-md-offset-1">
								<%= match.player.name.split(", ").last.capitalize + " " + match.player.name.split(", ").first.capitalize %>
								<% if match.result == "Win" %>
									<span><img src="/assets/check.png" class="win-check"></span>
								<% end %>
							</div>
							<% if match.score.include? ';' %>
								<% match.score.split(';').first(3).each do |score| %>
									<div class="col-md-2">
										<%= score.split('-').first %>
									</div>
								<% end %>
							<% else %>
								<div class="col-md-2">
									<%= match.score.split('-').first %>
								</div>
							<% end %>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
<% else %>
	<div class="container" align="center">
		<div class="dash-title">
			No results found
		</div>
	</div>
<% end %>