<div class="container" align="center">
	<div class="row">
		<div class="col-md-4">
			<div class="section-box">
				<div class="section-title">
					<div>
						<%= @player.real_name %>
					</div>		
					<div class="edit-pic-box" data-toggle="modal" data-target="#newPicmodal">
						<div class="edit-pic-button">
							Edit Profile Image
						</div>
						<% if @player.image.url %>
							<img src="<%=@player.image%>" class="prof-image">
						<% else %>
							<img src="/assets/blank_profile.png" class="prof-image">
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="section-box">
				<div class="section-title">
					Account Info:	
				</div>
				<div class="account-info">
					Name: <span class="emp"><%= @player.real_name %> </span> 
				</div>
				<div class="account-info">
					USTA ID: <span class="emp"><%= @player.user_usta_id %></span>
				</div>
				<div class="account-info">
					<% if @player.birthday %>
						Date of Birth: <span class="emp"><%= @player.birthday.strftime("%B %d, %Y") %></span> <a href="" data-toggle="modal" data-target="#editInfomodal">Edit</a>
					<% else %>
						<a href="" data-toggle="modal" data-target="#editInfomodal"> Add Birth Date </a>
					<% end %>
				</div>
				<div class="account-info">
					<% if @player.gender %>
						Gender: <span class="emp"><%= @player.gender %></span> <a href="" data-toggle="modal" data-target="#editInfomodal">Edit</a>
					<% else %>
						<div class="">
							<a href="" data-toggle="modal" data-target="#editInfomodal"> Add Gender </a>
						</div>
					<% end %>
				</div>
				<hr>
				<div class="account-info">
					Login Email: <span class="emp"><%= @user.email %></span>
				</div>
				<div class="account-info">
					<% if @player.parent_email %>
						Parent Email: <span class="emp"><%= @player.parent_email %></span> <a href="" data-toggle="modal" data-target="#editInfomodal">Edit</a>
					<% else %>
						<div class="">
							<a href="" data-toggle="modal" data-target="#editInfomodal"> Add Parent Email </a>
						</div>
					<% end %>
				</div>
				<hr>
				<div class="account-info">
					<% if @player.hometown %>
						Hometown: <span class="emp"><%= @player.hometown %></span> <a href="" data-toggle="modal" data-target="#editInfomodal">Edit</a>
					<% else %>
						<div class="">
							<a href="" data-toggle="modal" data-target="#editInfomodal"> Add Hometown </a>
						</div>
					<% end %>
				</div>
				<div class="account-info">
					<% if @player.school %>
						School: <span class="emp"><%= @player.school %></span> <a href="" data-toggle="modal" data-target="#editInfomodal">Edit</a>
					<% else %>
						<div class="">
							<a href="" data-toggle="modal" data-target="#editInfomodal"> Add School </a>
						</div>
					<% end %>
				</div>
				<div class="account-info">
					<% if @player.grade %>
						Grade: <span class="emp"><%= @player.grade %></span> <a href="" data-toggle="modal" data-target="#editInfomodal">Edit</a>
					<% else %>
						<div class="">
							<a href="" data-toggle="modal" data-target="#editInfomodal"> Add Grade </a>
						</div>
					<% end %>
				</div>
				<hr>
				<div class="account-info">
					<% if @player.racket %>
						Racket: <span class="emp"><%= @player.racket %></span> <a href="" data-toggle="modal" data-target="#editInfomodal">Edit</a>
					<% else %>
						<div class="">
							<a href="" data-toggle="modal" data-target="#editInfomodal"> Add Racket Info </a>
						</div>
					<% end %>
				</div>
				<div class="account-info">
					<% if @player.strings %>
						Strings: <span class="emp"><%= @player.strings %></span> <a href="" data-toggle="modal" data-target="#editInfomodal">Edit</a>
					<% else %>
						<div class="">
							<a href="" data-toggle="modal" data-target="#editInfomodal"> Add Strings Info </a>
						</div>
					<% end %>
				</div>
				<div class="account-info">
					<% if @player.shoes %>
						Shoes: <span class="emp"><%= @player.shoes %></span> <a href="" data-toggle="modal" data-target="#editInfomodal">Edit</a>
					<% else %>
						<div class="">
							<a href="" data-toggle="modal" data-target="#editInfomodal"> Add Shoes Info </a>
						</div>
					<% end %>
				</div>
				<div class="account-info">
					<% if @player.clothing %>
						Clothing: <span class="emp"><%= @player.clothing %></span> <a href="" data-toggle="modal" data-target="#editInfomodal">Edit</a>
					<% else %>
						<div class="">
							<a href="" data-toggle="modal" data-target="#editInfomodal"> Add Clothing Info </a>
						</div>
					<% end %>
				</div>
				<div class="account-info">
					<% if @player.hand %>
						Right or Left-Handed: <span class="emp"><%= @player.hand %></span> <a href="" data-toggle="modal" data-target="#editInfomodal">Edit</a>
					<% else %>
						<div class="">
							<a href="" data-toggle="modal" data-target="#editInfomodal"> Add Hand Preferences </a>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="newPicmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="modal-title">Update Profile Picture</div>
      </div>
      <div class="modal-body" align="center">
      	<%= form_for @player, :html => {:multipart => true} do |f| %>
			<%= f.file_field :image %>
			<%= f.submit "Update Photo"%>
		<% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editInfomodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="modal-title">Edit Account Info</div>
      </div>
      <div class="modal-body" align="left">
      	<%= form_for @player do |f| %>
      		<div>
				<%= f.label :birthday %>: 
				<%= f.date_select :birthday, start_year: 1980 %>
			</div>
			<br>
			<div>
				<%= f.label :gender %>: 
				<%= f.radio_button(:gender, "Boy") %>
				<%= f.label(:gender_boy, "Boy") %>
				<%= f.radio_button(:gender, "Girl") %>
				<%= f.label(:gender_girl, "Girl") %>
			</div>
			<br>
			<div>
				<%= f.email_field :parent_email, placeholder: "Parent Email" %>
			</div>
			<hr>
			<div>
				<%= f.text_field :hometown, placeholder: "Hometown" %>
			</div>
			<div>
				<%= f.text_field :school, placeholder: "School" %>
			</div>
			<div>
				<%= f.text_field :grade, placeholder: "Grade" %>
			</div>
			<hr>
			<div>
				<%= f.text_field :racket, placeholder: "Racket" %>
			</div>
			<div>
				<%= f.text_field :strings, placeholder: "Strings" %>
			</div>
			<div>
				<%= f.text_field :shoes, placeholder: "Shoes" %>
			</div>
			<div>
				<%= f.text_field :clothing, placeholder: "Clothing" %>
			</div>
			<div>
				<%= f.label :right_or_left_handed %>: 
				<%= f.radio_button(:hand, "Right") %>
				<%= f.label(:hand_right, "Right") %>
				<%= f.radio_button(:hand, "Left") %>
				<%= f.label(:hand_left, "Left") %>
			</div>
			<%= f.submit %>
		<% end %>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
	$('.edit-pic-box').hover(
	  function() {
	    $('.edit-pic-button').show();
	  }, function() {
	    $('.edit-pic-button').hide();
	  }
	);
</script>