<div class="container" align="center">
	<div class="row">
		<div class="col-md-4">
			<div class="section-box">
				<div class="section-title">
					<div>
						<%= @player.real_name %>
					</div>		
					<div class="edit-pic-box" data-toggle="modal" data-target="#newPicmodal">
						<% if @player.image.url %>
							<div class="edit-pic-button">
								Edit Profile Image
							</div>
							<img src="<%=@player.image%>" class="prof-image">
						<% else %>
							<div class="add-pic-button">
								Add Profile Image
							</div>
							<img src="/assets/blank_profile.png" class="prof-image">
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<%= form_for @player do |f| %>
				<div class="section-box">
					<div class="section-title">
						Account Information:	
					</div>
					<hr>
					<div class="sub-profile-title">
						Profile Information:
					</div>
					<hr>
					<div class="account-info">
						Name: <span class="emp"><%= @player.real_name %> </span> 
					</div>
					<div class="account-info">
						USTA ID: <span class="emp"><%= @player.user_usta_id %></span>
					</div>
					<div class="account-info">
						Login Email: <span class="emp"><%= @user.email %></span>
					</div>
					<div class="account-info">
						Birthday: <%= f.date_select :birthday, start_year: 1980 %>
					</div>
					<div class="account-info">
						<div class="">
							<div>
								Gender: 
								<%= f.radio_button(:gender, "Boy") %>
								<%= f.label(:gender_boy, "Boy") %>
								<%= f.radio_button(:gender, "Girl") %>
								<%= f.label(:gender_girl, "Girl") %>
							</div>
						</div>
					</div>
					<hr>
					<div class="sub-profile-title">
						Background Information:
					</div>
					<hr>
					<div class="account-info">
						<div class="">
							<%= f.label :hometown, "Hometown" %>
						</div>
						<div class="">
							<%= f.text_field :hometown, placeholder: "Hometown" %>
						</div>
					</div>
					<div class="account-info">
						<div class="">
							<%= f.label :school, "School" %>
						</div>
						<div class="">
							<%= f.text_field :school, placeholder: "School" %>
						</div>
					</div>
					<div class="account-info">
						<div class="">
							<%= f.label :grade, "Grade" %>
						</div>
						<div class="">
							<%= f.text_field :grade, placeholder: "Grade" %>
						</div>
					</div>
					<div class="account-info">
						<div class="">
							<%= f.label :section, "USTA Section" %>
						</div>
						<div class="">
							<%= f.select :section, options_for_select(usta_sections, selected: @player.section), {}, :onchange => 'this.form.submit()' %>
						</div>
					</div>
					<div class="account-info">
						<div class="">
							<%= f.label :district, "USTA District" %>
						</div>
						<div class="">
							<%= f.select :district, options_for_select(usta_districts(@player.section), selected: @player.district) %>
						</div>
					</div>
					<div class="account-info">
						<div class="">
							<%= f.label :coach, "Coach" %>
						</div>
						<div class="">
							<%= f.text_field :coach, placeholder: "Coach" %>
						</div>
					</div>
					<div class="account-info">
						<div class="">
							<%= f.label :club, "Tennis Club" %>
						</div>
						<div class="">
							<%= f.text_field :club, placeholder: "Tennis Club" %>
						</div>
					</div>
					<div class="account-info">
						<div class="">
							<%= f.label :mentor, "Mentor(s)" %>
						</div>
						<div class="">
							<%= f.text_field :mentor, placeholder: "Mentor(s)" %>
						</div>
					</div>
					<hr>
					<div class="sub-profile-title">
						Player Preferences
					</div>
					<hr>
					<div class="account-info">
						<div class="">
							<%= f.label :racket, "Racket" %>
						</div>
						<div class="">
							<%= f.text_field :racket, placeholder: "Racket" %>
						</div>
					</div>
					<div class="account-info">
						<div class="">
							<%= f.label :strings, "Strings" %>
						</div>
						<div class="">
							<%= f.text_field :strings, placeholder: "Strings" %>
						</div>
					</div>
					<div class="account-info">
						<div class="">
							<%= f.label :shoes, "Shoes" %>
						</div>
						<div class="">
							<%= f.text_field :shoes, placeholder: "Shoes" %>
						</div>
					</div>
					<div class="account-info">
						<div class="">
							<%= f.label :clothing, "Clothing" %>
						</div>
						<div class="">
							<%= f.text_field :clothing, placeholder: "Clothing" %>
						</div>
					</div>
					<div class="account-info">
						<div class="">
							<%= f.label :favorites, "Favorite Players" %>
						</div>
						<div class="">
							<%= f.text_field :favorites, placeholder: "Favorite Players" %>
						</div>
					</div>
					<div class="account-info">
						<div class="">
							<%= f.label :colleges, "College Preferences" %>
						</div>
						<div class="">
							<%= f.text_field :colleges, placeholder: "College Preferences" %>
						</div>
					</div>
					<div class="account-info">
						<div class="">
							<%= f.label :hand, "Handed" %>
						</div>
						<div class="">
							<%= f.select :hand, options_for_select(["Right-Handed", "Left-Handed"]), :prompt => 'Select One' %>
						</div>
					</div>
				<%= f.submit "Update", :class => "blue-submit" %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<div class="modal fade" id="newPicmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="modal-title">Update Profile Picture</div>
      </div>
      <div class="modal-body" align="center">
      	<%= form_for @player, :html => {:multipart => true} do |f| %>
			<%= f.file_field :image %>
			<%= f.submit "Update Photo"%>
		<% end %>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
	$('.edit-pic-box').hover(
	  function() {
	    $('.edit-pic-button').show();
	  }, function() {
	    $('.edit-pic-button').hide();
	  }
	);
</script>

<script type="text/javascript">
	$('#player_section').change(function(){
		alert('gi')
	});
</script>