<div class="container" align="center">
	<a href="<%=dash_path%>"> Skip this step</a>
	<%= form_for @player, :html => {:multipart => true} do |f| %>
		<div class="friends-title">
			Profile Information
		</div>
		<div>
			<%= f.label :birthday %>: 
			<%= f.date_select :birthday, start_year: 1980 %>
		</div>
		<div>
			<br>
			<%= f.label :gender %>: 
			<%= f.radio_button(:gender, "Boy") %>
			<%= f.label(:gender_boy, "Boy") %>
			<%= f.radio_button(:gender, "Girl") %>
			<%= f.label(:gender_girl, "Girl") %>
		</div>
		<br>
		<div>
			<%= f.label :image , "Profile Picture" %>: 
			<%= f.file_field :image %>
		</div>
		<hr>
		<div class="sub-profile-title">
						Background Information:
					</div>
					<hr>
					<div class="account-info">
						<div class="">
							<%= f.label :hometown, "Hometown" %>
						</div>
						<div class="">
							<%= f.text_field :hometown, placeholder: "Hometown" %>
						</div>
					</div>
					<div class="account-info">
						<div class="">
							<%= f.label :school, "School" %>
						</div>
						<div class="">
							<%= f.text_field :school, placeholder: "School" %>
						</div>
					</div>
					<div class="account-info">
						<div class="">
							<%= f.label :grade, "Grade" %>
						</div>
						<div class="">
							<%= f.text_field :grade, placeholder: "Grade" %>
						</div>
					</div>
					<div class="account-info">
						<div class="">
							<%= f.label :section, "USTA Section" %>
						</div>
						<div class="">
							<%= f.select :section, options_for_select(usta_sections, selected: @player.section) %>
						</div>
					</div>
					<div class="account-info">
						<div class="">
							<%= f.label :district, "USTA District" %>
						</div>
						<div class="">
							<% if @player.district %>
								<%= f.select :district, options_for_select(usta_districts(@player.section), selected: @player.district) %>
							<% else %>
							<%= f.select :district, options_for_select([]) %>
							<% end %>
						</div>
					</div>
					<div class="account-info">
						<div class="">
							<%= f.label :coach, "Coach" %>
						</div>
						<div class="">
							<%= f.text_field :coach, placeholder: "Coach" %>
						</div>
					</div>
					<div class="account-info">
						<div class="">
							<%= f.label :club, "Tennis Club" %>
						</div>
						<div class="">
							<%= f.text_field :club, placeholder: "Tennis Club" %>
						</div>
					</div>
					<div class="account-info">
						<div class="">
							<%= f.label :mentor, "Mentor(s)" %>
						</div>
						<div class="">
							<%= f.text_field :mentor, placeholder: "Mentor(s)" %>
						</div>
					</div>
					<hr>
					<div class="sub-profile-title">
						Player Preferences
					</div>
					<hr>
					<div class="account-info">
						<div class="">
							<%= f.label :racket, "Racket" %>
						</div>
						<div class="">
							<%= f.text_field :racket, placeholder: "Racket" %>
						</div>
					</div>
					<div class="account-info">
						<div class="">
							<%= f.label :strings, "Strings" %>
						</div>
						<div class="">
							<%= f.text_field :strings, placeholder: "Strings" %>
						</div>
					</div>
					<div class="account-info">
						<div class="">
							<%= f.label :shoes, "Shoes" %>
						</div>
						<div class="">
							<%= f.text_field :shoes, placeholder: "Shoes" %>
						</div>
					</div>
					<div class="account-info">
						<div class="">
							<%= f.label :clothing, "Clothing" %>
						</div>
						<div class="">
							<%= f.text_field :clothing, placeholder: "Clothing" %>
						</div>
					</div>
					<div class="account-info">
						<div class="">
							<%= f.label :favorites, "Favorite Players" %>
						</div>
						<div class="">
							<%= f.text_field :favorites, placeholder: "Favorite Players" %>
						</div>
					</div>
					<div class="account-info">
						<div class="">
							<%= f.label :colleges, "College Preferences" %>
						</div>
						<div class="">
							<%= f.text_field :colleges, placeholder: "College Preferences" %>
						</div>
					</div>
					<div class="account-info">
						<div class="">
							<%= f.label :hand, "Handed" %>
						</div>
						<div class="">
							<%= f.select :hand, options_for_select(["Right-Handed", "Left-Handed"]), :prompt => 'Select One' %>
						</div>
					</div>
		<%= f.submit "Update Player Profile >>" %>
		<br>
		<a href="<%=dash_path%>"> or skip this step</a>
		<br><br><br>
	<% end %>
</div>

<script type="text/javascript">
	$('#player_section').change(function(){
		$("#player_district").empty()
		var section = $('#player_section :selected').text();
		var districts = $.ajax({
	        type: "POST",
	        dataType: "json",
	        url: "/get_usta_districts/" + section,
	        async: false,
	        success: function(data){}
	    }).responseText;
	    options = JSON.parse(districts)
	    $.each(options, function(key, value) {   
			$('#player_district').append($("<option></option>").attr("value",value).text(value)); 
		});
	});
</script>